.image{
    background-image: ('C:\Users\asams\OneDrive\Desktop\self Projects\chat box\hotel image.jpg');
}

.heading{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}